/* VARIABLES */
:root {
    --main-color: #084482;
    --blue-dark: #18293c;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);
}

/* GLOBAL STYLES  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 35px 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-image: url(../img/homepage-bg.svg);
    background-size: cover;
    /* background-color: #fafafa; */
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

section {
    padding: 80px 0;
    min-height: calc(100vh - 70px);
    border-radius: 1rem;
    background-color: var(--white-alpha-25);
    backdrop-filter: var(--backdrop-filter-blur);
    border: 1px solid var(--white-alpha-40);
    animation: fadeIn 0.5s ease-in-out forwards;
}
.section-title {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .section-title h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: var(--blue-dark);
  }
  .section-title span {
    color: var(--main-color);
  }
/* END OF GLOBAL STYLES  */

/* HEADER  */
.header {
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 1rem;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border-color: #f2f2f2;
    border-style: solid;
    border-width: .0625rem 0; */
}

.header .nav-brand img {
    height: 30px;
}

.header .nav-toggler {
    margin: 0;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.header .nav-toggler span {
    height: 2px;
    width: 24px;
    position: relative;
    background-color: var(--blue-dark);
    transition: background-color 0.3s ease;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--blue-dark);
    transition: all 0.3s ease;
}

.header .nav-toggler span::before {
    left: 0;
    transform: translateY(-8px);
}

.header .nav-toggler span::after {
    right: 0;
    transform: translateY(8px);
}

.header .nav-toggler:hover span::before,
.header .nav-toggler:hover span::after {
    width: 50%;
}
/* END OF HEADER  */

/* ABOUT SECTION  */
.about-container {
    display: flex;
    align-items: center;
}
.about-img {
    width: 100%;
    padding: 0 15px;
}
.about-img .img-box {
    max-width: 380px;
    margin: auto;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
}
.about-img .img-box img {
    width: 100%;
}
/* END OF ABOUT SECTION  */